@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
body{
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: #626262;
  background: #fff;
  line-height: 1.3;
  min-width: 320px;
}
.container{
  min-width: 320px;
  max-width: 1320px;
  padding: 0 10px;
  margin: 0 auto;
}
.logo{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
}
.logo__bold{
  font-weight: 900;
}
.nav{
  font-size: 15px;
  font-weight: 700;
}
.nav__list{
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav__item{
  display: inline-block;
  padding: 5px 17px 5px;
  margin: 0;
  position: relative;
}
.nav__item::before{
  content: "";
  width: 1px;
  height: 14px;
  background: #fff;
  position: absolute;
  top: 7px;
  right: 0;
  transform: rotate(25deg);
}
.nav__item:last-child::before {
  display: none;
}
.nav__link--active,
.nav__link{
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1em;
}
.nav__link--active,
.nav__link:hover{
  color: #989794;
}
.nav__link--themedark {
  font-size: 14px;
  color: #aeb0b2;
}
.form {
  margin-bottom: 20px;
}
.form_row {
  padding-bottom: 10px;
}
.work-item {
  width: 30.33%;
  margin: 0 0 20px 10px;
  padding: 0 10px;
}
.work-item__link {
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
}
.work-item__img {
  display: block;
  width: 100%;
  height: auto;
}
.work-item__descr {
  font-weight: bold;
  font-size: 18px;
  color: #060606;
  padding-top: 13px;
  padding-bottom: 24px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.header{
  background: #373c44;
  padding: 44px 0 37px;
}
.header__logo {
  float: left;
  margin-right: 20px;
}
.header__nav {
  text-align: right;
  padding-top: 22px;
}
.works {
  padding-top: 66px;
  padding-bottom: 66px;
}
.works__items {
  margin: 0 -10px;
  display: flex;
  flex-wrap: wrap;
}
.works__p {
  text-align: center;
  font-size: 20px;
  color: #626262;
  margin: 0 100px 78px 100px;
  padding-top: 19px;
  line-height: 36px;
}
.works__a {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  display: block;
  color: #000000;
  text-decoration: none;
}
.footer {
  background: #373c44;
  color: #aeb0b2;
  padding: 50px 0;
  font-size: 14px;
}
.footer_info {
  float: right;
  margin: 0;
  color: #aeb0b2;
  text-transform: uppercase;
}
.footer_email-link {
  color: #aeb0b2;
  text-decoration: none;
  text-transform: lowercase;
}